/* CSS 스타일 */
@import url(./normalize.css);
@import url(./reset.css);
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable-dynamic-subset.css');

/* basic style */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: #ffc;
  font-family: 'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue',
    'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', sans-serif;
  /* margin: 0; */
}

/* layout */
.header,
.visual,
.main,
.slogan,
.footer-inner {
  width: 940px;
  box-sizing: border-box;
  margin: auto;
}

/* header */
.header {
  background: pink;
  height: 15vh;
  padding: 0 30px;
}

/* visaul */
.visual {
  background: orange;
  height: 10vh;
}

/* main */
.main { 
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 450px;
  padding: 30px;
  background: lightgreen;
}

/* flex-shrink : 1 => 같은 비율로 움직인다 */

.group1 {
  width: 250px;
  background-color: rgb(120, 119, 24);
}
.group2 {
  width: 380px;
  background-color: rgb(162, 110, 95);
}
.group3 {
  width: 190px;
  background-color: rgb(107, 23, 161);
}

/* slogan */
.slogan {
  background: skyblue;
  height: 10vh;
}

/* footer */
.footer {
  background: gray;
  width: 940px;
  margin: 0 auto;
}
.footer-inner {
  height: 15vh;
  background-color: rgb(43, 84, 43);
  position: relative;
  top: -10px;
  left: -10px;
}
